<!-- create template to display Employee -->
<div class="employee" *ngIf="employee">
    <div class="avatar">
        <img src="{{employee.avatar}}" />
    </div>
    <div class="profile">
        <div class="name">{{employee.firstName}}, {{employee.lastName}}</div>
        <div class="position">{{employee.position}}</div>
        <div class="details">
            <div class="department">{{employee.department}}</div>
            <div class="married">{{(employee.married?'Married':'Unmarried')}}</div>
            <div class="vip-tag" *ngIf="employee.dateOfHire | isVip">VIP</div>
        </div>
    </div>
</div>
