.filter-box {
    .filter {
        margin: 10px auto;
        width: 80%;
        height: 50px;
        .title {
            height: 50px;
            width: 100px;
            line-height: 50px;
            float:left;
            font-weight: bold;
            margin-left:5px;
        }
        .department-selection {
            border: 1px solid #dfdfdf;
            padding: 0px 20px;
            border-radius: 10px;
            float: right;
            height: 50px;
            width: 100px;
            line-height: 50px;
            margin-right: 50px;
        }
    }
    
}
.employees-container {
    text-align: center;
    .employee-container {
        width: 80%;
        margin: 0px auto;
    }
}