.filter-box {
    margin:10px;
    height: 50px;
    .title {
        height: 50px;
        width: 100px;
        line-height: 50px;
        float:left;
        font-weight: bold;
    }
    .department-selection {
        border: 1px solid #dfdfdf;
        padding: 0px 20px;
        border-radius: 10px;
        float: right;
        height: 50px;
        width: 100px;
        line-height: 50px;
        margin-right: 20px;
    }
}
.employees-container {
    text-align: center;
    .employee-container {
        width: 80%;
        margin: 0px auto;
    }
}